body {
  margin: 0;
  font-family: sans-serif;
  background: #fffaf4;
  color: #333;
  text-align: center;
}
header {
  background: #3a863d;
  color: white;
  padding: 20px;
}
button {
  background: white;
  color: #3a863d;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}
body.dark {
  background: #1e1e1e;
  color: #f9f9f9;
}
